.CTButton {
    text-align: center;
    background: rgba(171, 59, 59, 1);
    border: solid rgba(255, 255, 255, 0) 2px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 1vw;
}

.CTButton__link {
    text-decoration: none;
}

.CTButton__text {
    color: rgb(255, 255, 255);
    margin: 12px 16px;
}

.CTButton__text-wide {
    color: rgb(255, 255, 255);
    margin: 16px 10vw;
}

.green {
    background: rgba(77, 123, 76, 1);
}
.green:hover {
    background: rgb(39, 128, 39);
}

.orange {
    background: rgba(196,129,72, 1);
}

.orange:hover {
    background: rgb(203, 121, 50);
}

.blue {
    background: rgba(146, 207, 225, 1);
}

.blue:hover {
    background: rgb(65, 182, 218);
}