.CTButton {
    text-align: center;
    background: rgba(171, 59, 59, 1);
    border: solid rgba(255, 255, 255, 0) 2px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 1vw;
}

.green {
    background: rgba(77, 123, 76, 1);
}

.orange {
    background: rgba(196,129,72, 1);
}

.blue {
    background: rgba(146, 207, 225, 1);
}

.CTButton__link {
    text-decoration: none;
}

.CTButton__text {
    color: rgb(255, 255, 255);
    margin: 12px 16px;
}