.Footer {
  background: rgb(44, 44, 44);
  padding: 40px 30px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Footer__logo {
  width: 150px;
}

.Footer__column {
  margin: 20px 15px;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Footer__anchor {
  text-decoration: none;
}

.Footer__anchor-text {
  color: rgba(219, 219, 219, 0.7);

  margin: .3em 0;
}

.Footer__anchor-text:hover {
  color: rgb(245, 242, 242);
}
