.Footer {
  padding: 40px 30px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Footer__logo {
  width: 150px;
}

.Footer__column {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Footer__anchor {
  text-decoration: none;
  transform: skew(-20deg);
}

.Footer__anchor-text {
  color: rgba(40, 16, 15, 1);
  font-family: zeitung-mono, cronos-pro, lato, sans-serif;
  margin: 0;
  padding: 0 2vw;
  transform: skew(20deg);
}

.Footer__anchor:hover {
  text-decoration: none;
  background: rgb(65, 104, 172);
}

.Footer__anchor-text:hover {
  color: rgb(245, 242, 242);
}
