.Footer__row {
  padding: 30px 30px;
  text-decoration: none;
  display: flex;
}

.Footer__logo {
  width: 80px;
}

.Footer__column {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Footer__anchor {
  text-decoration: none;
  transform: skew(-20deg);
}

.Footer__anchor-text {
  color: rgba(40, 16, 15, 1);
  font-family: zeitung-mono, cronos-pro, lato, sans-serif;
  margin: 0;
  padding: 0 2vw;
  transform: skew(20deg);
}

.Footer__row-2 {
  background: #e5e6e5;
  display: flex;
  justify-content: space-between;
}

.Footer__logos {
  display: flex;
}
.Footer__anchor:hover {
  text-decoration: none;
  background: rgb(65, 104, 172);
}

.Footer__anchor-text:hover {
  color: rgb(245, 242, 242);
}
