.iframe__browser {
  margin: 6vh 0;
}
.iframe__responsive {
  display: none;
}

@media only screen and (max-width: 600px) {
  .iframe__browser {
    display: none;
  }
  .Form__iframe-Container {
    height: 100%;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
  }
  .iframe__responsive {
    display: flex;
  }
}

