.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  position: absolute;
  top: 80%;
}

.Gallery__heading {
  margin: 0 auto;
}

.Gallery__thumbnails {
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.responsive-thumbnail-links {
  display: none 
}

/* @media only screen and (max-width: 600px) {
  .browser-thumbnail-links {
    display: none 
  }
  .responsive-thumbnail-links {
    display: block;
  }
} */