.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 36vh;
  background: rgba(0, 0, 0, 0);
}

.Gallery__heading {
  margin: 0 auto;
}

.Gallery__thumbnails {
  padding: 5vh 0;
  display: flex;
  justify-content: space-evenly;
}
