.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0);
}

.Gallery__heading {
  margin: 0 auto;
}

.Gallery__thumbnails {
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
