.Header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.Header__nav-main {
    font-size: 20px;
}

.Header__nav-logo {
    height: 8vh;
}

.Header__nav-items {
    font-size: 20px;
}