.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid rgb(44, 44, 44) 6vh;
  max-width: 100vw;
  box-shadow: 10px rgba(0, 0, 0, 1);
}

.Header__logo {
  height: 12vh;
}

.Header__buttons {
  display: flex;
  flex-direction: row;
}
