.Hero {
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 10px 7px -2px rgba(0, 0, 0, 0.15);
}

.Hero__virtual-logo {
  width: 12vw;
  margin: 2vw;
}
