.Nav {
  display: flex;
  flex-wrap: wrap;
  font-family: zeitung-mono, cronos-pro, lato, sans-serif;
  padding: 2vw 2vw;
}

.grey {
  background: rgb(224, 225, 225);
}

.Nav__anchor-box {
  transform: skew(-20deg);
  display: flex;
}

.Nav__anchor {
  color: rgb(40, 16, 15);
}

.Nav__anchor-text {
  transform: skew(20deg);
  margin: 0;
  padding: 0 2vw;
}

.Nav__slash {
  transform: skew(-20deg);
  margin: 0 0.5vw;
  width: 2px;
  background: rgb(40, 16, 15);
}

.Nav__anchor-box:hover {
  background: rgb(65, 104, 172);
}

.Nav__anchor-box .Nav__anchor:hover {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .Nav__external {
    display: none;
  }
  .Nav__slash {
    display: none;
  }
  .Nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    /* height: 14vh; */
    margin: 0 0 0 3vw;
  }
  .Nav__anchor-box {
    background: rgb(65, 104, 172);
    margin: 2vh 0;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .Nav__anchor {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1vh 0;
  }
}
