.Theater {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
