
.Thumbnail {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
  margin: 8px;
}

.Thumbnail__image {
  height: 100%;
  z-index: 2;
  position: relative;
}

.Thumbnail__image:hover {
  opacity: 0.3;
}

.play-icon {
  fill: white;
  position: absolute;
  z-index: 1;
}
