.VideoInfo {
  /* background: rgba(0 ,0 ,0, .5); */
  display: flex;
  flex-direction: row;
  margin: 0 0 0 20px;
  justify-content: space-between;
}

.VideoInfo__text-box {
  font-family: zeitung-mono, cronos-pro, "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  width: 80vw;
  margin: auto 0;
  color: rgb(40, 16, 15);
}
